// Resets
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  // overflow: hidden;
}

$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 414px)";