@import '../abstracts/config';
@import '../abstracts/mixins';


.main{
  @include flexCenter;
  min-height: 60vh;
  z-index: -100;
  
  &-bg-dark{
    background-color: hsl(240, 20%, 12%);
  }
  &-bg-light{
    background-color: hsl(0, 0%, 98%);
  }

  &-container{
    @include width;
    margin-top: 2rem;
    border-radius: 8px;
    margin-top: -60px;
    z-index: 1000;

    &-bg-dark{
      background-color: hsl(235, 24%, 19%);
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
    }
    &-bg-light{
      background-color:hsl(0, 0%, 100%);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
.box{
  display: flex;
  align-items: center;
  height: 58px;
  border-bottom: 0.1px solid hsl(234, 11%, 52%);
  cursor: pointer;

  &:hover{
    .delete{
      display: block;
    }
  }

  &-dark{
    border-bottom: 0.1px solid hsl(234, 11%, 52%);
  }
  &-light{
    border-bottom: 0.1px solid hsl(236, 33%, 92%);
    
  }
}
.circle2{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1.5px solid hsl(234, 11%, 52%);
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &-iscompleted{
    background: linear-gradient( to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}

.tick{
  display: none;
  width: 11px;
  height: 5px;
  border-left: 2.3px solid white;
  border-bottom: 2.5px solid white;
  transform: rotate(-39deg);

  &-iscompleted{
    display: block;
  }
}
.todo-title{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  margin-left: 15px;

  &-dark{
    color: hsl(234, 39%, 85%);
  }

  &-light{
    color: hsl(235, 19%, 35%);
  }
  &-iscompleted-dark{
    color: hsl(233, 14%, 35%);
    text-decoration: line-through;
  }
  &-iscompleted-light{
    color: hsl(233, 11%, 84%);
    text-decoration: line-through;
  }
}

.delete{
  margin-left: auto;
  margin-right: 15px;
  width: 13px;
  display: none;
}
.main-footer{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 18px 15px;
}
.footer-classes{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  .footer-text{
    padding-left: 10px;
    font-weight: 700;
    font-size: 11px;
    z-index: 1;

    &-dark{
      color: hsl(234, 11%, 52%);
  
      &:hover{
        color: hsl(236, 33%, 92%);
      }
    }
    &-light{
      color: hsl(236, 9%, 61%);

      &:hover{
        color: hsl(235, 19%, 35%);
      }
    }
    &-is-active{
      color:  hsl(220, 98%, 61%);
    }
   }
}
.footer-text{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 10.4px;
  color: hsl(233, 14%, 35%);
  cursor: pointer;

  &-dark{
    color: hsl(233, 14%, 35%);

    &:hover{
      color: hsl(234, 11%, 52%);
    }
  }
  &-light{
    font-weight: 400;
    font-size: 11px;
    color: hsl(233, 11%, 84%);

    &:hover{
      color:  hsl(236, 9%, 61%);
    }

  }
}
// style for active section
